body {
    background-image: url(lights.jpg);
    background-size: cover;
    
}
.container {
    background: linear-gradient(to left,#001f33, #66c2ff);
    box-shadow: 3px 5px 10px black; 
}


h1 {
    color: palevioletred;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color: darkred;
    text-shadow: 1px 1px 5px black;
}

