html, body {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANAAAADzCAMAAADAQmjeAAAAA1BMVEUrEQTH1nPSAAAASElEQVR4nO3BAQ0AAADCoPdPbQ8HFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMCtAcZjAAEYzi8dAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}
.navbar {
    background-color: #26190C;
    font-size: 1.0em;
}

 .navbar-nav li a {
    color: #d5d5d5;
    margin-right: 20px;
    float: right;
}

.navbar-brand {
    color: #d5d5d5;
}

.navbar-nav li a:hover  {
    color: blue;
}

#carouselExampleControlsNoTouching2{
    color: lightgoldenrodyellow;
}
}
#carouselExampleControlsNoTouching{
    margin-top: 0px ;
}   
.d-flex{
    float: right;
}
/* .carousel {
    width:1366px;
  } */
.carousel-dark {
    margin-top: 100px;
}

